<div class = "post_data">
				<p class = "username" >	
	   			 	<span><%= link_to @post.user.name, @user%>	</span>		
	   			 	<% if can? :update, @post %>
						<%= link_to edit_post_path(@post) do%>
						<i class="fa fa-pencil-square-o"></i>
						<% end %>
					<% end %>
					<% if can? :destroy, @post %>
						<%= link_to post_path(@post), method: :delete, data: {confirm: "Are you sure to delete the post?"} do %>
						<i class="fa fa-trash-o"></i>
						<%end%>
					<%- end %>
				</p>
        		</div>
        	</br>
        		<div class = "post_info">
        			<p class="category">#<%= link_to @post.category.name, posts_path(category: @category.name) if @post.category%>#</p>
        			<p class = "buttons">
          			<span><i class="fa fa-thumbs-o-up"> </i><%= @post.get_likes.size%></span>

          			<span><a name="comments"><i class="fa fa-comments-o"></i><%= @post.comments.count%></a></span>
          	
          
          			<p class = "actions">
							<span>
								<%= link_to like_post_path(@post), method: :get, class: "data" do %>
  								<i class="fa fa-thumbs-o-up"></i>
								<% end %>

							</span>
							<span>
								<%= link_to dislike_post_path(@post), method: :get, class: "data" do %>
  								<i class="fa fa-thumbs-o-down"></i>
								<% end %>

							</span>
				   </p>
			       
          	</div>
        </p>