<!DOCTYPE html>
<html>
<head>

</head>

<body>
 
 <%= simple_form_for(@post,html:{ class: 'form-horizontal'}) do |f| %>
 
  <div class="form-group">
        <%= f.label :category, class: 'col-sm-4 control-label'  %>
        <div class="col-sm-8">
            <%= f.collection_select :category_id, Category.all, :id, :name, {promt: "Choose a category" }, input_html: { class: "dropdown-toggle" } %>
        </div>
    </div>
    
	 <div class="form-group">
        <%= f.label :title, class: 'col-sm-4 control-label'  %>
        <div class="col-sm-8">
            <%= f.text_field :title, :size => '36x10',placeholder: "Title here" %>
        </div>
    </div>

    <div class="form-group">
        <%= f.label :content, class: 'col-sm-4 control-label'  %>
        <div class="col-sm-8">
            <%= f.text_area :content, :size => '36x10',placeholder: "Content here" %>
        </div>
    </div>

	  <div class="form-group">
        <%= f.label :image, class: 'col-sm-4 control-label'  %>
        <div class="col-sm-8">
              <%= f.file_field :image, placeholder: "Image here" %>
        </div>
    </div>
  		
   	 
   	 <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <%= f.submit "Post",class: "btn btn-primary"  %>
        </div>
    </div>
   	 	
 	
  

<% end %>
</body>
</html>
