
<div class="side-nav" role=navigation>
  <ul class="nav-side-nav">
    <li class="current"><a class="tootip-side-nav" href="#onepage"></a></li>
    <li><a class="tootip-side-nav" href="#twopage"></a></li>
    <li><a class="tootip-side-nav" href="#threepage"></a></li>
    <li><a class="tootip-side-nav" href="#fourpage"></a></li>
</div>
<div class="onepage" id="onepage">
  <div class="onepage-bg" id ="onepagebg"></div>
  <div class="container">
    <div class="row">
      
      <ul class="nav nav-pills">
        <li role="presentation"><%= link_to "Sign Up", new_user_registration_path %></li>
        <li role="presentation"><%= link_to "Sign In", new_user_session_path %></li>
      </ul>
      <div class="title-text">
        <div class="col-md-12 headfontsize">
          <h1 class="headh1content">Tree Hole<br>
                                  Any troubles?<br>
                                  Sharing them here</h1>
          <p class="para"> You can discuss any things that make you worry </p>
          
        </div>
      </div>
    </div>
  </div>
</div>

<div class="twopage" id="twopage">
  <div class="twopage-bg" id ="twopagebg"></div>
  <div class="container">
    <div class="row">
      <div class="title-text2">
        <div class="col-md-12 headfontsize">
          <h1 class="head2h1content">
            Let us help you solve problems
          </h1>
          <p class="para">Ask for professional advice if you want</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="threepage" id="threepage">
  <div class="threepage-bg" id ="threepagebg"></div>
  <div class="container">
    <div class="row">
      <div class="title-text3">
        <div class="col-md-12 headfontsize">
          <h1 class="head3h1content" style="color: #f0ffff">
           Malicious posts?<br>
           Do not worry!
          </h1>
          <p class="para" style="color: #f0f8ff">All the posts are examined before you can see</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fourpage" id="fourpage">

  <div class="fourpage-bg" id ="fourpagebg"> </div>
 
  <div class="container">
    <div class="row">
      <div class="title-text4">
        <div class="col-md-12 headfontsize">
          <h1 class="head4h1content">
           Get started now!
          </h1>
         <p class="btn-app-stroe">
            <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-success btn-lg" %>
            <%= link_to "Sign In", new_user_session_path, class: "btn btn-success btn-lg" %>
          </p>
        </br>
          <p>
          <%= render "sessions/new"%>
        </p>
        </div>
      </div>
    </div>
  </div>
</div>

