<div id = "post_show">
	<h1><%= @post.title%></h1>
</br>
	<p class = "username" >	
	    
		<%= time_tag @post.created_at %> 
	</p>
	<div class = "clearfix">
		<div class = "post_image_content">
			
			<%= image_tag @post.image.url(:medium) %>
			
			<div class = "content">
				<font size="3"><%= @post.content%></font>
			</div>
			<!--panel user-->
			 <% if current_user && current_user.paneluser?%>
			<div class = "data clearfix">
				<% if @post.approved?%>
				<%=render "data"%>
				<% else %>
				<div class = "post_data">
					<p class = "username" >	
	   			 		<span><%= link_to @post.user.name, @user%>	</span>	
					</p>
        		</div>
        		<br>
        		<div class = "post_info">
        			<p class = "buttons">
          				<span><i class="fa fa-thumbs-up"> </i><%= @post.approval_votes.count%></span>	
          				<span><i class="fa fa-thumbs-down"> </i><%= @post.approval_downvotes.count%></span>	
        			
        				<p class = "actions">
							<span>
  						     	<%=link_to approve_post_path(@post), method: :patch do%>
  						     	<i class="fa fa-check"></i>
  						     	<% end %>
					    	</span>
					    	<span>
  						      	<%= link_to post_path(@post), method: :delete, data: {confirm: "Are you sure to delete the post?"} do %>
  						      	<i class="fa fa-trash-o"></i>
  						      	<% end %>
					    	</span>
						</p>
				</div>	
				</p>
				<%end%>
      		</div>
      		<!--professional user-->
      		<% elsif current_user && current_user.profession? %>
      		<div class = "data clearfix">
				<% if @post.approved?%>
				<%=render "data"%>
				<% else %>
				<div class = "post_data">
					<p class = "username" >	
						
	   			 		<span><%= link_to @post.user.name, @user%></span>
	   			 	
					</p>
        		</div>
        		</br>
        		<div class = "post_info">
        			<p class = "buttons">
          				<span><i class="fa fa-thumbs-up"> </i><%= @post.approval_votes.count%></span>
          				<span><i class="fa fa-thumbs-down"> </i><%= @post.approval_downvotes.count%></span>	
        			
        			<p class = "actions">
						<span>
							<%= link_to agree_post_path(@post), method: :post do %>
							<i class="fa fa-thumbs-up"></i>
							<%end%>
							<%= link_to disagree_post_path(@post), method: :post do %>
							<i class="fa fa-thumbs-down"></i>
							<%end%>
						</span>
					</p>
				</div>		
				<%end%>

      		</div>
      		<!--common user-->
      		<%else%>
      		<div class = "data clearfix">
				
				<%=render "data"%>
				

      		</div>
      		<%end%>
		</div>
		
		<div id = "random_post">
			Random Posts
			<% if @post.approved? %>
			<div class = "post">
				<div class = "post_image">
					<%=link_to (image_tag @random_post.image.url(:small)), post_path(@random_post)%>
				</div>
				<div class = "post_content">
					<div class = "title">
						<h2>
							<%= link_to @random_post.title, post_path(@random_post)%>
						</h2>
					</div>
					<div class = "data clearfix">
						
						<p class = "username">Posted by <%= @random_post.user.name%></p>
					
						<p class = "buttons">
							<span><i class="fa fa-comments-o"> </i> <%= @random_post.comments.count%></span>
							<span><i class="fa fa-thumbs-o-up"> </i><%= @random_post.get_likes.size%></span>
						</p>
						
					</div>
					</div>
				</div>
			</div>
			<%end%>
		</div>
	</div>
</div>

<div id = "comments">
	<div class = "comment_count">
		
		<%=  pluralize(@post.comments.count, "Comment")%>
		
	</div>
	<% @comments.each do |comment| %>
	<!--panel user-->
	<% if current_user && current_user.paneluser?%>
	<% if comment.approved? %>
	<div class = "comment">
		<div class = "data clearfix">
			<p class = "username">
				<span><%= link_to comment.user.name, @user%></span>		
			</p>
			
	   </div>
		<div class = "comment_content">
		<h style="opacity: 0.5;"><strike><font size="3"><%= comment.content%></font></strike></h>
		<% if can? :destroy, @comment %>
		<%= link_to post_comment_path(comment.post,comment), method: :delete, data: {confirm: "Are you sure to delete the comment?"} do %>
		<i class="fa fa-trash-o"></i>
		<% end %>
		 <% end -%>
	   </div>
	   
	   <div class="comment_info">
	   		<p class = "buttons">
          			<span><i class="fa fa-thumbs-o-up"> </i><%= comment.get_likes.size%></span>
          			<span><i class="fa fa-thumbs-o-down"> </i><%= comment.get_dislikes.size%></span>
          	
          
          			<p class = "actions">
							<span>
								<%= link_to like_post_comment_path(comment.post_id, comment), method: :get, class: "data" do %>
  								<i class="fa fa-thumbs-o-up"></i>
								<% end %>

							</span>
							<span>
								<%= link_to dislike_post_comment_path(comment.post_id, comment), method: :get, class: "data" do %>
  								<i class="fa fa-thumbs-o-down"></i>
								<% end %>

							</span>
				   </p>
	   </div>
	   <% else %>
	<div class = "comment">
		
		<div class = "data clearfix">
			<p class = "username">
				<span><%= link_to comment.user.name, @user%></span>		
				<span><i class="fa fa-thumbs-up"> </i><%= comment.approval_votes.count%></span>
          				<span><i class="fa fa-thumbs-down"> </i><%= comment.approval_downvotes.count%></span>	
			</p>
		</div>
			<div class = "comment_content">
				<font size="3"><%= comment.content%></font>
					<% if can? :destroy, @comment %>
						<%= link_to post_comment_path(comment.post,comment), method: :delete, data: {confirm: "Are you sure to delete the comment?"} do %>
						<i class="fa fa-trash-o"></i>
						<% end %>
		 			<% end -%>
	  		 </div>
	  		 <div class="comment_info">
			<p class = "actions">
				<span>
  					<%=link_to approve_post_comment_path(comment.post, comment), method: :patch do %>
  					<i class="fa fa-check"></i>
  					<% end %>
				</span>
				<span>
  					<%= link_to post_comment_path(comment.post,comment), method: :delete, data: {confirm: "Are you sure to delete the comment?"} do %>
						<i class="fa fa-trash-o"></i>
					<% end %>
				</span>
			</p>
	   </div>
		<%end%>
	   
	   <!--professional user-->
	   <% elsif current_user && current_user.profession? %>
	   <% if comment.approved? %>
	<div class = "comment">
		
		<div class = "data clearfix">
			<p class = "username">
				<span><%= link_to comment.user.name, @user%></span>		
			</p>
			
	   </div>
		<div class = "comment_content">
		<h style="opacity: 0.5;"><strike><%= comment.content%></strike></h>
			<% if can? :destroy, @comment %>
				<%= link_to post_comment_path(comment.post,comment), method: :delete, data: {confirm: "Are you sure to delete the comment?"} do %>
				<i class="fa fa-trash-o"></i>
				<% end %>
		 		<% end -%>
	   </div>
	   <div class="comment_info">
	   		<p class = "buttons">
          			<span><i class="fa fa-thumbs-o-up"> </i><%= comment.get_likes.size%></span>
          			<span><i class="fa fa-thumbs-o-down"> </i><%= comment.get_dislikes.size%></span>
          	
          
          			<p class = "actions">
							<span>
								<%= link_to like_post_comment_path(comment.post_id, comment), method: :get, class: "data" do %>
  								<i class="fa fa-thumbs-o-up"></i>
								<% end %>

							</span>
							<span>
								<%= link_to dislike_post_comment_path(comment.post_id, comment), method: :get, class: "data" do %>
  								<i class="fa fa-thumbs-o-down"></i>
								<% end %>

							</span>
				   </p>
	   </div>
	   <% else %>
	   <div class = "comment">
	   	<div class = "comment_content">
		<font size="3"><%= comment.content%></font>
				<% if can? :destroy, @comment %>
				<%= link_to post_comment_path(comment.post,comment), method: :delete, data: {confirm: "Are you sure to delete the comment?"} do %>
				<i class="fa fa-trash-o"></i>
				<% end %>
		 		<% end -%>
	   	</div>
		<div class = "data clearfix">
			<p class = "username">
				<span><%= link_to comment.user.name, @user%></span>	
				
				<span><i class="fa fa-thumbs-up"> </i><%= comment.approval_votes.count%></span>
          				<span><i class="fa fa-thumbs-down"> </i><%= comment.approval_downvotes.count%></span>		
			</p>
			<p class = "actions">
				<span>
							<%= link_to agree_post_comment_path(comment.post_id, comment), method: :post do %>
							<i class="fa fa-thumbs-up"></i>
							<%end%>
							<%= link_to disagree_post_comment_path(comment.post_id, comment), method: :post do %>
							<i class="fa fa-thumbs-down"></i>
							<%end%>
						</span>
			</p>
			
	   </div>
		<% end %>
	   
	  
	   <!--common user-->
	   <%else%>
	   <% if comment.approved? %>
	   <div class = "comment">

		<div class = "data clearfix">
			<p class = "username">
				<span><%= link_to comment.user.name, @user%></span>		
			</p>
			
	   </div>
		<div class = "comment_content">
		<%= comment.content%>
		<% if can? :destroy, @comment %>
				<%= link_to post_comment_path(comment.post,comment), method: :delete, data: {confirm: "Are you sure to delete the comment?"} do %>
				<i class="fa fa-trash-o"></i>
				<% end %>
		 		<% end -%>
	   </div>
	   
	   <div class="comment_info">
	   		<p class = "buttons">
          			<span><i class="fa fa-thumbs-o-up"> </i><%= comment.get_likes.size%></span>
          			<span><i class="fa fa-thumbs-o-down"> </i><%= comment.get_dislikes.size%></span>
          	
          
          			<p class = "actions">
							<span>
								<%= link_to like_post_comment_path(comment.post_id, comment), method: :get, class: "data" do %>
  								<i class="fa fa-thumbs-o-up"></i>
								<% end %>

							</span>
							<span>
								<%= link_to dislike_post_comment_path(comment.post_id, comment), method: :get, class: "data" do %>
  								<i class="fa fa-thumbs-o-down"></i>
								<% end %>

							</span>
				   </p>
	   </div>
	   <% end %>
	   <%end%>		
	</div>
	<% end %> 
	</br>
	<div class = "comment_form">
	<p><a href="#comments">Reply to the post</a></p> 
	<%= render "comments/form" %>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-8">
            <%= will_paginate @comments%>
        </div>
    </div>
</div>
</div>