<!DOCTYPE html>
    <html>
      <head>
        <title>Ruby on Rails Tutorial Sample App | <%= yield(:title) %></title>
        <%= stylesheet_link_tag 'application', media: 'all',
                                               'data-turbolinks-track' => true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet"></link>

        <link href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.1/normalize.min.css" rel="stylesheet"></link>

        <%= csrf_meta_tags %>
        <!--[if lt IE 9]>
          <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
          </script>
        <![endif]-->
      </head>
      <body>

         <% if user_signed_in? %>
        
        <header class="header">
           <div class="wrapper clearfix" >
            <div class="container">
              <div class="row">
                <div class="hidden-xs hidden-sm col-md-3 col-lg-3">
                 <div class="navbar-header navbar-left">
                  <a class="navbar-brand-mc">
                    <%= link_to root_path do%><%= image_tag('tree_hole.png',height: '40')%><%end%>
                  </a>
                  </div>
                </div>
                <div class="hidden-xs visible-sm-block col-sm-2">
                 <div class="navbar-header navbar-left">
                  <a class="navbar-brand-mc">
                    <%= link_to root_path do%><%= image_tag('tree_hole.png',height: '40')%><%end%>
                  </a>
                  </div>
                </div>
                 <div class="visible-xs-block col-xs-2">
                 <div class="navbar-header navbar-left">
                  <a class="navbar-brand-mc">
                    <%= link_to root_path do%><%= image_tag('tree_hole.png',height: '40')%><%end%>
                  </a>
                  </div>
                </div>
                
                <div class="col-xs-8 col-sm-5 col-md-5 col-lg-5">
                    <form class="navbar-form-mc"> 
                    <div class="input-group input-group-nav">         
                    <%= form_tag posts_path, :method => 'get',class: "form-search" do%>
                    <%= text_field_tag :search, params[:search],class: "span2 search-query"%>                 
                    <%= submit_tag "Search" do%> 
                      <i class="fa fa-search">  </i>
                    <% end %> 
                    <%- end %>
                  </div>
                  </form>
                </div>
               
                <div class="hidden-xs col-sm-5 col-md-4 col-lg-4">
                  <div id="navbar" class="navbar-collapse collapse">
                       
                  <ul class="nav navbar-nav pull-right">
                     <% if current_user.admin?%>
                    <%= link_to "Manage", rails_admin_path, class: "button" %>
                    <% end %>
                    <%= link_to current_user.name,current_user, class: "button" %>
                    <%= link_to "Sign out", destroy_user_session_path, :method => :delete ,class: "button"%>
                    <%= link_to "New Post", new_post_path, class: "button" %>
                    
                   
                   </ul>
                 </div>
                </div>
                <div class="visible-xs-block col-xs-2">
                    <div class="nav nav-hamburger pull-right">
                    
                        <ul class="dropdown-menu pull-right">
                           
                           <% if current_user.admin? %>
                              <%= link_to "Manage", rails_admin_path, class: "button" %>
                          <% end %>
                          <%= link_to current_user.name,current_user, class: "button" %>
                          <%= link_to "Sign out", destroy_user_session_path, :method => :delete ,class: "button"%>
                          <%= link_to "New Post", new_post_path, class: "button" %>
                         
                         
                                
                        </ul>
                    </div>

                </div>
       </div>
     </div>
      </div>

      </header>
      
     
          <nav class="main-navigation">
           
                <div class="container">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="nav-toggle-button collapse" data-target="#main-menu">
                        <span class="sr-only"> Toggle Navigation
                        <i class="fa fa-bars"></i>
                        </span>
                      </div>
                      <div class="collapse navbar-collapse" id="main-menu">
                          <ul class = "menu">   
                          <li class="nav-current" role="presentation">Categories</li> 
                              <% Category.all.each do |category| %>
                              <li role="presentation">
                                  <%= link_to category.name, posts_path(category: category.name) %>
                              </li>
                              <% end %>
                           </ul>
                      </div>
                    </div>
                  </div>
                </div>
              
          </nav>
      
      
    </div>
  
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
<% end %>
<%= yield %>
      </body>
    </html>